<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CRP.Properties.Settings.dejsair_CostumerRequestDBConnectionString"
            connectionString="Data Source=89.32.251.8,9994;Initial Catalog=dejsair_CostumerRequestDB;Persist Security Info=True;User ID=mohkazv;Password=wKhm718@yFw2m7$1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>